a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;

    border: 2px solid silver;
    border-radius: 2rem;
    padding: 0.7rem 1rem;

    box-shadow: 0 0 0.5rem gray;
    transition: 0.5s;
}
a:visited {
    color: #000;
}
a:hover {
    box-shadow: 0 0 1rem gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section {
    text-align: center;
}

.Home {
    text-align: center;
}
.Home > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.Home > div a {
    width: 20rem;
}
